*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    background-color: rgb(0, 84, 209);
    height: 50vh;
}
.lottie{
   background-color: rgb(27, 97, 4);
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}